{
  "name": "$plugin_name",
  "description": "$description",
  "version": "$version",
  "author": {"name": "$author_name"},
  "license": "$license",
  "repository": "$repository",
  "homepage": "$homepage"
}
